<div class="container">
	<br/><br/>
	<div class="row">
		<div class="col-sm-7 col-sm-offset-1 bs-callout bs-callout-primary">
			<h3><strong>{{poll.title}}</strong></h3>
			<br/>
			<div class="row">
				<div id="radioGrp"  >
					<div class="col-sm-11 col-sm-offset-1" ng-repeat="choice in poll.choices">
						<input type="radio" name="radio" class="radio" id="{{'radio'+$index}}" ng-model="selectedChoice.text" value="{{choice}}"/> <label for="{{'radio'+$index}}" >{{choice}}</label>
					</div>
				</div>
			</div>
			<br/><br/><br/>
			<div class="row">
				<div class="col-sm-12" ng-hide="isVoted">
					<button class="btn btn-large btn-primary" ng-click="castVote()">&nbsp;Vote&nbsp;</button>
				</div>
				<div class="col-sm-12" ng-show="isVoted">
					<button class="btn btn-large btn-default" disabled>&nbsp;You have succesfully voted.. Thank you..&nbsp;</button>
				</div>
			</div>
		</div>
		<!-- Share embed et cetra -->
		<div class="col-sm-3 bs-callout bs-callout-primary box">
			<h4>Share</h4>
			FB - TW - G+ - SU - GM
			<br/><br/>
			<h4>Embed Poll</h4>
			<div class="bs-callout">{{embedPoll}}</div>
			<br/><br/>
			<h4>Embed Stats</h4>
		</div>
	</div>
</div>